{% extends 'base.html' %}

{% block title  %}
영화취향입력
{% endblock  %}

{% block lead  %}
찾고 싶으신 영화의 특징들을 입력해주세요
{% endblock  %}

{% block main_body  %}
<form method="POST" action="/api/user">
  <div class="form-group">
    <label for="exampleFormControlSelect1">선호장르1순위</label>
    <select name="genre_1" class="form-control" id="exampleFormControlSelect1">
      {% for genre in genre_list %}
      <option value={{genre}}>{{genre}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">선호장르2순위</label>
    <select name="genre_2" class="form-control" id="exampleFormControlSelect1">
      {% for genre in genre_list %}
      <option value={{genre}}>{{genre}}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">출시년도</label>
    <select name="year" class="form-control" id="exampleFormControlSelect1">
      {% for year in year_list %}
      <option value={{year}}>{{year}}</option>
      {% endfor %}
    </select>
  </div>
  <input type="submit" class="btn btn-primary" value="Add" />
</form>

{% if preference_list %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Genre1</th>
      <th scope="col">Genre2</th>
      <th scope="col">Year</th>
    </tr>
  </thead>
  <tbody>
    {% for preference in preference_list %}
    <tr>
      <th scope="row">{{ preference.id }}</th>
      <td>{{ preference.genre1 }}</td>
      <td>{{ preference.genre2 }}</td>
      <td>{{ preference.year_range }}</td>
      <td>
        <a class="btn btn-secondary", href='/api/user/{{ preference.id }}'>
          Delete
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}

